@model Tuple<baltomsdn1011.Models.Patient,int>

@{
    ViewBag.Title = "Details";
    var CurrentStudy = Json.Encode(Model.Item1.Studies[Model.Item2]);
    var Patient = Json.Encode(Model.Item1);
}

@section head{
    <script id="sequence-link-template" type="text/x-jquery-tmpl">
        <li><a href="/JQTemplates/Details/${id}">${Modality}</a></li>
    </script>

    <script id="sequence-template" type="text/x-jquery-tmpl">
        <div>
            <ol>
                {{tmpl(Studies) "#sequence-link-template"}}
            </ol>
        </div>
    </script>

    <script id="demographics-template" type="text/x-jquery-tmpl">
        <p>${LastName}, ${FirstName}</p>
        <p>${Dob}</p>
    </script>

    <script id="image-template" type="text/x-jquery-tmpl">
        <img src="/viewer/image/${id}" alt="${Modality}"/>
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            currentStudy = @(new HtmlString(CurrentStudy));
            patient = @(new HtmlString(Patient));
            patient.Dob = new Date(parseInt(patient.Dob.substr(6))).toDateString();
            $("#sequence-template").tmpl(patient).appendTo("#side-panel");
            $("#demographics-template").tmpl(patient).appendTo("#main-panel");
            $("#image-template").tmpl(currentStudy).appendTo("#image-placeholder");
        });
    </script>
}

<h2>jQuery Templates</h2>

<aside id="side-panel"></aside>
<div id="demographics"></div>
<div id="image-placeholder"></div>